#header{
    text-align: center;
    color: whitesmoke;
}

section{
    color: whitesmoke;
}

body{
    background-color: black;
}

footer{
    color: whitesmoke;
    text-align: center;
    text-shadow: 1in;
};